@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --dark-color-primary: #0d1117;
  --dark-color-secondary: #21262d;
  --dark-color-gray: #30363d;
  --dark-color-highlight: #f9826c;
  --dark-color-text: #c9d1d9;
  --color-header-bg: #161b22;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--dark-color-primary);
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  color: var(--dark-color-text);
}

#app {
  height: 100%;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

a {
  color: var(--dark-color-text);
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--dark-color-highlight); 
}

/* XXX */
.mrl-auto {
  margin: 0 auto;
}

.mb-30 {
  margin-bottom: 30px;
}

.mtb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  align-items: center;
  padding: 10px 5%;
  background-color: var(--color-header-bg);
  z-index: 99999;
}

.header__logo a {
  color: var(--dark-color-highlight);
  font-weight: 700;
  font-size: 2em;
}

.header__search-bar, .header__search-results {
  max-width: 440px;
  width: 100%;
}

.header__search-bar input{
  width: 100%;
  padding: 10px;
  background-color: var(--dark-color-primary);
  border: 1px solid var(--dark-color-gray);
  border-radius: 5px;
  outline: none;
  font-size: 0.8em;
  color: var(--dark-color-text);
  transition: 0.3s;
}

.header__search-bar input:focus {
  border: 1px solid var(--dark-color-highlight);
}

.header__search-results {
  height: 435px;
  overflow-y: scroll;
  position: absolute;
  background: var(--dark-color-primary);
  z-index: 99;
}

.header__search-result {
  padding: 1em;
  border-bottom: 1px solid var(--dark-color-gray);
  list-style-type: none;
  font-size: 0.8em;
}

.header__nav a {
  margin-right: 15px;
  transition: 0.3s;
}

/* View */
.view__main-wrapper {
  padding: 90px 5% 5% 5%;
}

.view__grid-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 20px;
}

.view__grid-item {
  position: relative;
}

.view__grid-item-details {
  height: 100%;
  padding: 5%;
  position: absolute;
  background-color: rgb(15 15 15 / 80%);
  z-index: 1;
  opacity: 0;
  color: var(--dark-color-text);
  transition: 0.5s;
}

.view__grid-item-details:hover {
  opacity: 1;
}

.view__grid-item-details h3 {
  margin-bottom: 10px;
}

.view__grid-wrapper a img { 
  width: 100%;
}

.btn-primary {
  display: block;
  padding: 1em;
  background-color: var(--dark-color-secondary);
  border: 1px solid var(--dark-color-gray);
  border-radius: 5px;
  font-size: 16px;
  color: var(--dark-color-text);
  cursor: pointer;
  transition: .3s;
}

.btn-primary:hover {
  border: 1px solid var(--dark-color-highlight);
  color: var(--dark-color-highlight);
  background-color: var(--dark-color-primary);
}
 
/* Single movie */
.single-movie {
  display: flex;
  flex-direction: row;
}

.single-movie__poster {
  margin-right: 40px;
}

.single-movie__poster img {
  width: 100%;
}

.single-movie__genre {
  color: var(--dark-color-gray);
}

/* Favorites */
.favorites ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: .5em;
  padding-bottom: .5em;
  list-style-type: none;
  border-bottom: 1px solid var(--dark-color-secondary);
}

.favorites__movie-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.favorites ul li img {
  width: 80px;
  margin-right: 1em;
}

#remove-favorited {
  width: 30px;
  height: 30px;
  font-size: 1em;
  color: var(--dark-color-text);
  border: 1px solid var(--dark-color-text);
  border-radius: 50%;
  background: none;
  cursor: pointer;
  transition: 0.3s;
}

#remove-favorited:hover {
  border: 1px solid var(--dark-color-highlight);
  color: var(--dark-color-highlight)
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
  bottom: 0;
  align-items: center;
  padding: 20px 5%;
  background-color: var(--dark-color-secondary);
  line-height: 25px;
}